.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(8, 12, 238);
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: rgb(9, 225, 240);
}

.footer{
  padding: 500px;
  color: deeppink;
}