.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(223, 238, 8);
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: rgb(101, 9, 240);
}